#foot {
  background-color: blue;
  box-shadow: 0 3px 2rem rgba(0,0,0,.75);
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 150px;
  width: 100%;
  justify-content: space-around;
}
foot h3 {
    font-size: 20px;
}
#foot #address {
  margin-top: 30px;
}
#foot #address H3{
  color: white;
  padding: 5px;
}
#foot #contact {
  margin-top: 30px;
}
#foot #contact H4,
#foot #contact H3{
  color: white;
  padding: 5px;
  text-decoration: none !important;
}
#footer {
  margin: 0px;
  padding: 0px;
  height: 75px;
  display: flex;
  background-color: blue;
  border-top: 2px black solid;
  justify-content: center;
}
#footer #copyright {
}
#footer #copyright h3 {
  color: white;
  margin-top: 15px;
}