@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

/*
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
*/


@media only screen and (max-device-width:480px) and (min-width:200px) {
  body {
  }
  header {
    height: 100px !important;
    background-color: blue !important;
    color: white !important;
  }
  header .logo {
    font-size: 75px !important;
    color: white !important;
  }
  #social {
    display: none;
  }
  header ul li a {
    font-size: 30px !important;
    margin: 0 20px;
    padding-top: 10px;
    color: white !important;
}
  #my-image {
    margin-top: 150px !important;
  }
  #hyper-links {
    font-size: 30px;
    min-width: 575px;
    min-height: 950px;
}
  #hyper-links h3 {
    padding: 15px !important;
}
  #hyper-links a {
    padding: 15px !important;
    font-weight: 500px !important;
}
  .scrollTop {
  bottom: 150px !important;
  right: 75px !important;
  width: 85px !important;
  height: 85px !important;
  background-size: 60px !important;
}
  #content-wrapper {
    font-size: 30px !important;
  }
}
