@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

/*
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
*/

@media only screen and (max-width:1024px) and (min-width: 768px) {
  body {
    background-color:;
  }
  #hyper-links {
    background-color: blue;
  }
  #content-text {
    flex-direction: column;
  }
  #content-wrapper {
    display: flex;
    column-gap: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media only screen and (max-width:768px) and (min-width: 480px) {
  body {
    background-color: pink;
  }
  #hyper-links {
    background-color: blue;
    box-shadow: 0 3px 2rem rgba(0,0,0,.75);
    width: 375px;
    height: 500px;
    position: absolute;
    padding: 50px;
    display: flex;
    border: 1px black solid;
    flex-direction: column;
    z-index: 1;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    margin-top: 60px;
    margin-right: 25px;
    border-radius: 5px;
}
  #content-wrapper {
    font-size: 5px;
  }
}
@media only screen and (max-device-width:480px) and (min-width:200px) {
  body {
  }
  header {
    height: 100px !important;
  }
  header ul li a {
    font-size: 22px !important;
    margin: 0 15px;
    padding-top: 10px;
}
  #my-image {
    margin-top: 150px !important;
  }
  #hyper-links {
    font-size: 30px;
    min-width: 575px;
    min-height: 950px;
}
  #hyper-links h3 {
    padding: 15px !important;
}
  #hyper-links a {
    padding: 15px !important;
    font-weight: 500px !important;
}
  .scrollTop {
  bottom: 150px !important;
  right: 75px !important;
  width: 85px !important;
  height: 85px !important;
  background-size: 60px !important;
}
  #content-wrapper {
    font-size: 30px !important;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
#my-main-img {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 3px 2rem rgba(0,0,0,.75);
}
#my-image {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin-top: 100px;
  margin-left: 50px;
}

/*start nav section*/
header {
  position: fixed;
  background: rgba(0, 0, 255, 0.1);
  box-shadow: 0 3px 2rem rgba(0,0,0,.75);
  width: 100%;
  display: flex;
  height: 78px;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
header.sticky {
  color: white;
}
header.active {
  background-color: rgba(0,0,100,1.00);
  transition: 1.0s;
  box-shadow: 0 3px 2rem rgba(0,0,0,.75);
  height: 4.0rem;
}
header .logo {
  position: relative;
  padding-left: 25px;
  font-size: 3vw;
  color: black;
  text-decoration: none;
  font-family: "Hammersmith One", sans-serif;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  padding-top: 10px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a {
  color: white;
}
header.sticky ul li a:hover {
  background: rgba(0,0,145,1.00);
  border: 1.5px white solid;
  padding: 10px;
  border-radius: 10px;
}
header ul li a:hover {
  background: rgba(0,0,100,1.00);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("assets/images/wisconsin_capital.png");
  background-size: cover;
}
/*end nav section*/
.scrollTop {
  position: fixed;
  bottom: 800px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: #fff url(http://st2.depositphotos.com/5266903/7830/v/170/depositphotos_78309498-Arrow-up-flat-soft-blue.jpg);
  border-radius: 50%;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10000;
  visibilty: hidden;
  opacity: 0;
  transition: 0.5s;
}
.scrollTop.active {
  visibilty: visibilty;
  opacity: 1;
  bottom: 40px;
  border: 1px black solid;
}
#hyper-links {
  background-color: rgba(255, 255, 255, .75);
  box-shadow: 0 3px 2rem rgba(0,0,0,.75);
  width: 375px;
  max-height: 420px;
  position: absolute;
  padding: 20px;
  display: flex;
  border: 1px black solid;
  flex-direction: column;
  z-index: 1;
  left: 0px;
  top: 60px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  margin-top: px;
  margin-right: 25px;
  border-radius: 5px;
}
#hyper-links h3 {
  padding: 5px;
  margin: 0px;
  text-align: center;
}
#hyper-links a {
  color: black;
  padding: 5px;
  text-decoration: none;
}
#hyper-links a:hover {
  color: white;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, .50);
}
#content h3 {
  color: black;
  padding-top: 60px;
}
#content-all {
  margin: 0px;
  padding: 20px;
}
#content-wrapper {
  font-size: 20px;
  display: flex;
  column-gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#content-text {
  padding: 20px;
  display: flex;
}
#content {
  background-color: rgba(0, 0, 0, .05);
  padding: 0px 20px 20px 20px;
  text-align: center;
}
#content p {
  padding-top: 20px;
}

#foot {
  background-color: rgba(0,0,100,1.00);
  box-shadow: 0 3px 2rem rgba(0,0,0,.75);
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 150px;
  width: 100%;
  justify-content: space-around;
}
#foot #address {
  margin-top: 30px;
}
#foot #address H3{
  color: white;
  padding: 5px;
}
#foot #contact {
  margin-top: 30px;
}
#foot #contact H4,
#foot #contact H3{
  color: white;
  padding: 5px;
}
#footer {
  margin: 0px;
  padding: 0px;
  height: 75px;
  display: flex;
  background-color: rgba(0,0,100,1.00);
  border-top: 2px black solid;
  justify-content: center;
}
#footer #copyright {
}
#footer #copyright h4 {
  color: white;
  margin-top: 15px;
}
