@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

/*
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
*/



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
#my-main-img {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 3px 2rem rgba(0,0,0,.75);
}
#my-image {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin-top: 100px;
  margin-left: 50px;
}
.scrollTop {
  position: fixed;
  bottom: 800px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: #fff url(/assets/images/arrow-up-blue.jpg);
  border-radius: 50%;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10000;
  visibilty: hidden;
  opacity: 0;
  transition: 0.5s;
}
.scrollTop.active {
  visibilty: visibilty;
  opacity: 1;
  bottom: 40px;
  border: 1px black solid;
}
#hyper-links {
  background-color: rgba(255, 255, 255, .75);
  box-shadow: 0 3px 2rem rgba(0,0,0,.75);
  width: 375px;
  max-height: 420px;
  position: absolute;
  padding: 20px;
  display: flex;
  border: 1px black solid;
  flex-direction: column;
  z-index: 1;
  left: 0px;
  top: 60px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  margin-top: px;
  margin-right: 25px;
  border-radius: 5px;
}
#hyper-links h3 {
  padding: 5px;
  margin: 0px;
  text-align: center;
}
#hyper-links a {
  color: black;
  padding: 5px;
  text-decoration: none;
}
#hyper-links a:hover {
  color: white;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, .50);
}
#content h3 {
  color: black;
  padding-top: 60px;
}
#content-all {
  margin: 0px;
  padding: 20px;
}
#content-wrapper {
  font-size: 20px;
  display: flex;
  column-gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#content-text {
  padding: 20px;
  display: flex;
}
#content {
  background-color: rgba(0, 0, 0, .05);
  padding: 0px 20px 20px 20px;
  text-align: center;
}
#content p {
  padding-top: 20px;
}
