/*
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
*/


@media only screen and (max-width:768px) and (min-width: 480px) {
  body {
    background-color: ;
  }
  header #list {
    display: none;
  }
  #hyper-links {
    background-color: blue;
    box-shadow: 0 3px 2rem rgba(0,0,0,.75);
    width: 375px;
    height: 500px;
    position: absolute;
    padding: 50px;
    display: flex;
    border: 1px black solid;
    flex-direction: column;
    z-index: 1;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    margin-top: 60px;
    margin-right: 25px;
    border-radius: 5px;
}

  #content-wrapper {
    font-size: 5px;
  }
}